#thepagelink{
    padding: 10px;
    font-size: 20px;color: white;
    
        
    
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;margin-top: 100px;
    text-align: left;
    background-color: #f9f9f9;
    width: 300px;
}



.card-name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: Helvetica;
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    
    
}

.card-contact {
    font-size:15px;
    margin-bottom: 10px;
    
    
}

.card-slot {
    font-size: 15px;
    margin-bottom: 10px;
}

.card-skill {
    font-size: 15px;
    margin-bottom: 10px;
}

.card-category {
    font-size: 15px;
    margin-bottom: 10px;
}

.card-people {
    font-size: 15px;
    margin-bottom: 10px;
}

.card-price {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: red; 
    margin-bottom: 10px;
}

.card-cap {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: red;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    right: 260px;
   
}

.btn-primary:hover {
    
    background-color: red;
    border: none;
}

a{
    color: white;
}
a:hover{
    color: white !important;
}
h1{
    font-size: 30px;
}
.reserve-section{
    width: 900px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    left: 0;
    top: 0;
   
    
}
.reserve-content{
    position: fixed;
    background-color: #fff;
    
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    left: 25%;
}
.btn-close{
    float: right;
    padding: 20px;
}
#h1_reserve_section{
    text-align: center;
    padding-top: 20px;
}

.form-control {
    width: 600px;
    margin-left: auto;
    margin-right:auto ;
    
}
.form-label{
    margin-left: 70px;
}

.btn.btn-primary{
    width: 200px;
    margin-left: 300px;
}
